{% extends 'index.html' %}
{% block content%}

<h1>
    {{ user.username }}
</h1>
<ul class="order_list">
{% for order in orders %}
    <li>
        {{ order }}
        <a href="{%url 'order:delete' order.id%}" class="btn btn-primary">Удалить заказ</a>
    </li>
{% endfor %}
</ul>
<form method="POST" action="{% url 'order:create'%}" class="order_create_form">
    {{ form }} {% csrf_token %}
    <button class="btn btn-primary order_create_butt">Добавить заказ</button>
</form>
{% endblock %}
