{% extends 'index.html' %}
{% block content%}
<div>
    Вы точно хотите удалить этот заказ?
    <p>{{object}}
    <form method="post">
        <input type="submit" value="Да" class="btn btn-danger">
        <input type="submit" value="Нет" class="btn btn-primary" formaction="/user/home/">
        {%csrf_token%}
    </form>
</div>
{% endblock %}