{% extends 'index.html' %}
{% block content%}
<ul>
    {% for key, day_orders in month_orders.items %}
        {% for order in day_orders %}
            <li>
                {{ order }}
            </li>
        {% endfor %}
    {% endfor %}
</ul>
{% endblock %}
