{% extends 'index.html' %}
{% block content%}
    {% for week in order_stat_by_weeks %}
        <div class="btn btn-primary"
             data-toggle="collapse"
             aria-expanded="false"
             data-target="#collapseExample-{{ forloop.counter }}"
        >
                {{ forloop.counter}}-я неделя
        </div>
        <table class="table collapse" id="collapseExample-{{ forloop.counter }}">
        {% for day, stat in week.items %}
            <tr>
                <td>
                    {{day|date:'d, m , y'}}
                </td>
                <td>
                    {% for user in stat.users %}
                        {{ user }}{% if not forloop.last%}; {% endif %}
                    {% endfor %}
                </td>
                <td>
                    {{ stat.end_price}}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% endfor %}
{% endblock %}
